@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --grey: #949292;
    --primaryWhite: #FFFFFF;
    --primaryGreen: #22B11E;
    --secGreen: #00FF6A;
    --bgBlack: #1B1B1D;

}


.allaboard-container {
    background-color: var(--primaryBlack);
    /* height: 360px; */
    max-width: 1920px;
    margin: auto;
    width: 100%;
    color: var(--secGreen);

}

.allaboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px;
    gap: 32px;
}

.allaboard-title {
    width: 337px;
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: var(--secGreen);
    flex: none;
    order: 0;
    flex-grow: 0;
}