@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --grey: #949292;
    --primaryWhite: #FFFFFF;
    --primaryGreen: #22B11E;
    --secGreen: #00FF6A;
    --bgBlack: #1B1B1D;

}

.withfriends-content {
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    gap: 56px;
}

.withfriends-image {
    width: 1200px;
    height: 329px;
    border-radius: 24px;
}

.withfriends-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-bottom: 24px;
    width: 669px;
    height: 164px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}