@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --grey: #949292;
    --primaryWhite: #FFFFFF;
    --primaryGreen: #22B11E;
    --secGreen: #00FF6A;
    --bgBlack: #1B1B1D;

}

.navbar-container {

    height: 96px;
    padding: 0 1.5rem;
    background-color: var(--primaryWhite);
    /* background-color: red; */
    color: var(--primaryBlack);
    transition: 0.3s ease all;
    position: fixed;
    width: 100%;
    z-index: 101;
}

.navbar-logo {
    height: 24px;
}

.navbar-elements,
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-elements {
    padding: 24px 120px;
}

.nav-item-wrapper {
    display: flex;
}

.nav-items {
    padding-right: 24px;
    display: flex;

}

.nav-items li {
    list-style: none;
    padding: 12px 24px;
    position: relative;
    /* width: 100%; */

}

.nav-items li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--primaryBlack);
    transition: 0.2s ease-in all;
}

.nav-items li a:hover {
    text-decoration: none;
    font-size: 16px;
    color: var(--grey);
}

/* .nav-button {
    padding: 12px 32px;
    background: var(--secGreen);
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05em;
}

.nav-button:hover {
    background: var(--secGreen);
} */

/* .open-menu {
    transform: translate(100%);
} */

.toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* font-size: 2rem; */
    display: none;
}

@media screen and (max-width: 898px) {
    .navbar-container {
        height: 100%;
        padding: 0 1.5rem;
        color: var(--primaryWhite);
        transition: 0.3s ease all;
        position: static;
        width: 100%;
        z-index: 101;
        min-width: 280px;
    }

    .navbar-elements {
        padding: 24px 16px;
        transition: 0.3s ease all;
        min-width: 280px;
    }
    
   .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;

    }
    .nav-items li {
        list-style: none;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    
    }
    .nav-item-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 40vh;
        right: 0;
        left: 0;
        width: 100%;
        margin: auto;
        min-width: 280px;
    }

    .toggle {
        display: block;
    }

}