@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primaryBlack: #000000;
  --grey: #949292;
  --primaryWhite: #ffffff;
  --primaryGreen: #22b11e;
  --secGreen: #00ff6a;
  --bgBlack: #1b1b1d;
}

.accordion {
  color: #000000;
  width: 600px;
  margin: auto;
}

.item {
  margin-bottom: 12px;
  cursor: pointer;
  /* background-color: #aeaeae; */
  padding: 24px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 0.82, 0, 1);
}
.show {
  padding-top: 32px;
  color: var(--secondaryBlack);
  height: auto;
  max-height: 9999;
  transition: all 0.5s cubic-bezier(0, 0.82, 0, 1);
}
.iconshow {
  transform: rotate(180deg);
  transition: ease all;
  color: var(--secGreen);
}

.accordion-button {
  margin-top: 40px;
}
