@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --grey: #949292;
    --bgGrey: #F4F4F4;
    --primaryWhite: #FFFFFF;
    --primaryGreen: #22B11E;
    --secGreen: #00FF6A;
    --bgBlack: #1B1B1D;

}

.counter-container {
    background-color: var(--secGreen);
    color: var(--primaryBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 12px;
    gap: 10px;
    width: 54px;
    height: 54px;
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.counter-number {
    font-weight: 500;
}


/* ********** */

.step-body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 379px;
    height: 190px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.step-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 379px;
    height: 96px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 32px;
}

.step-body-title {
    width: 379px;
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: var(--primaryBlack);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.step-body-subtitle {
    width: 379px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: -0.05em;
    color: var(--grey);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.step-button{
    margin-top: 56px;
}