@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --grey: #949292;
    --primaryWhite: #FFFFFF;
    --primaryGreen: #22B11E;
    --secGreen: #00FF6A;
    --bgBlack: #1B1B1D;

}

.button {
    display: flex;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 40px;
    background: var(--secGreen);
    align-items: center;
    border-radius: 32px;
    letter-spacing: -0.05em;
    line-height: 24px;
}

.button:hover,
.button:active {
    background: #00ed63;
}

.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.text-pad{
    padding-right: 16px;
}


